.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.cards {
    margin: 0 0 0 10%;
    display: flex;
    position: absolute;
    top: 200px;
    width: fit-content;
}

.card {
    position: relative;
    text-align: center;
    margin: 0 15px 0 15px;
    width: 200px;
    border-radius: 10px;
    height: 400px;
    z-index: 0;
}

.card:hover {
    animation: zoom-out 1s;
}

@keyframes zoom-out {
    from {
        width: 200px;
        height: 400px;

    }

    to {
        width: 205px;
        height: 405px;
    }

}

.generate-btn {
    position: absolute;
    top: 650px;
    left: 42%;
    border: none;
    width: 170px;
    height: 30px;
    background-color: blue;
    color: white;
    font-size: 15px;
    line-height: 10px;
    letter-spacing: 2px;
    border-radius: 7px;
}

.text {
    position: absolute;
    top: 350px;
    left: 30%;
    margin: 10px 0 0 0;
    font-size: 19px;
    letter-spacing: 1px;
    width: fit-content;

}

.text,
.generate-btn {
    font-weight: 700;
}

.text:hover {
    font-size: 20px;
    border-radius: 5px;
}

.copy-text {
    position: absolute;
    width: 100px;
    height: fit-content;
    background-color: blue;
}


.copy-icon {
    background-color: none;
    max-width: 20px;
    max-height: 20px;
}

.icon-holder {
    position: absolute;
    display: inline;
}