.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.cards {
    border-radius: 30px;
    background-color: aliceblue;
    margin: 0 0 0 10%;
    display: flex;
    position: absolute;
    top: 25%;
    height: 50%;
    width: fit-content;
    padding: 30px;
}

.card {
    position: relative;
    text-align: center;
    margin: 0 15px 0 15px;
    width: 200px;
    border-radius: 10px;
    height: 100%;

}

.generate-btn {
    position: absolute;
    top: 86%;
    left: 44%;
    border: none;
    width: 200px;
    height: 35px;
    background-color: blue;
    color: white;
    font-size: 15px;
    line-height: 10px;
    letter-spacing: 2px;
    border-radius: 7px;
}

.generate-btn:hover {
    animation: button-change 1s alternate infinite;
}

@keyframes button-change {
    from {
        background-color: blue;
    }

    to {
        background-color: #363636;
    }
}

.text {
    position: absolute;
    top: 90%;
    left: 30%;
    margin: 10px 0 0 0;
    font-size: 19px;
    letter-spacing: 1px;
    width: fit-content;

}

.text,
.generate-btn {
    font-weight: 700;
}

.text:hover {
    font-size: 20px;
    border-radius: 5px;
}

.copy-icon {
    background-color: none;
    max-width: 20px;
    max-height: 20px;
}

.icon-holder {
    margin-left: 5px;
    position: absolute;
    display: inline;
}

/*alert css from github*/
#--react--toast-container {
    position: fixed;
    width: 20%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

@media screen and (max-width: 500px) {
    #--react--toast-container {
        width: 55%;
    }
}

.--react--toast-alert {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    background-color: white;
    animation: fadeInExpand 150ms;
    margin: 15px 0 0 0;
    padding: 16px 15px;
    border-radius: 16px;
    font-size: 15px;
    box-shadow: 0 0 10px 0 #cbcbcb, 0 0 3px 0 #cbcbcb;
}

.--react--toast-alert p {
    font-weight: 600;
    margin: 0;
    word-break: break-word;
    color: #363636;
}

.--react--toast-alert svg {
    width: 20px;
    height: 20px;
}

@keyframes fadeInExpand {
    0% {
        opacity: 0;
    }

    35% {
        opacity: 1;
        transform: scale(1.25);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}