html {
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    background-image: linear-gradient(to right bottom, #454545, #666666, #898989, #aeaeae, #d4d4d4);
}